<button type="button" class="btn btn-primary float-right" routerLink="/books/create">Create Book</button>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Genre</th>
      <th scope="col">Author</th>
      <th scope="col">Read</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.title }}</td>
      <td>{{ book.genre }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.read }}</td>
    </tr>
  </tbody>
</table>